@{
    ViewBag.Title = "Доступ запрещен";
    Layout = "layout.cshtml";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <a class="btn btn-default" onclick="javascript: history.go(-1);">Назад</a>
</div>

