@{
    ViewBag.Title = "Отчеты";
    Layout = "layout.cshtml";
}
<div class="row">
    <h2>@ViewBag.Title</h2>
    <a class="btn btn-primary" href="@Url.Content("~/report_goods")">Отчет по товарам выданным в кредит</a>
    <a class="btn btn-primary" href="@Url.Content("~/report_goods_paid")">Отчет по товарам оплаченным</a>
    <a class="btn btn-primary" href="@Url.Content("~/report_leftovers")">Остатки товаров</a>
    <a class="btn btn-default" onclick="javascript:history.go(-1);">Назад</a>
</div>